{% extends "admin/base.html" %}

{% block heading %}Change Password{% endblock %}

{% block content %}
<form class="form" method="POST">
    <div class="form-group">
        <label>Current password</label>
        <input type="password" name="password">
        <label>New Password</label>
        <input type="password" name="npassword">
        <label>New Password Confirm</label>
        <input type="password" name="cpassword">
        <label></label>
        <input type="submit" value="Change">
    </div>
</form>
{% endblock %}
