{% extends "admin/base.html" %}

{% block heading %}Editing Animation: <code>{{ animation.name }}</code>{% endblock %}

{% block content %}

<form method="POST" class="form">
    <div class="form-group">
        <label>Name</label>
        <input value="{{ animation.name }}" disabled>
        <label>Title</label>
        <input name="title" value="{{ animation.title }}">
    </div>
    <div class="form-group">
        <label>Content Hash</label>
        <input value="{{ animation.content_hash }}" disabled>
        <label>Verify Content</label>
        {% set verify = animation.verify_content() %}
        <input value="{{ verify }}" style="color:{{ ["red", "green"][verify] }}" disabled>
    </div>
    <div class="form-group">
        <label>Status</label>
        <table>
        <tr>
            <td><input type="radio" name="active" value="true" id="active-true" {% if animation.active %}checked{% endif %}></td>
            <td></td>
            <td><label for="active-true">Active</label></td>
        </tr>
        <tr>
            <td><input type="radio" name="active" value="false" id="active-false" {% if not animation.active %}checked{% endif %}></td>
            <td></td>
            <td><label for="active-false">Inctive</label></td>
        </tr>
        </table>
    </div>
    <div class="form-group">
        <label>Content</label>
        <textarea name="content" id="animation-content">{{ animation.content }}</textarea>
    </div>
    <div class="form-group">
        <button>Update</button>
    </div>
</form>
{% endblock %}
